{% extends 'base.html' %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
  <body class="bg-dark">
    <div class="cover-container d-flex w-50 h-50 p-3 mx-auto text-center flex-column text-white bg-dark">
      <main class="px-3" content-box>
        <h1>chat-da &lt;찾다!&gt;</h1>
        <p class="lead">모두를 위한 스토어 툴, 무료로 제공합니다!&nbsp;
          저희의 플랫폼은 모든 사용자가 자유롭게 도구를 요청하고, 공유할 수 있는 개방된 공간입니다.&nbsp;
          누구나 필요한 도구를 쉽게 찾아 사용할 수 있습니다.</p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
        </p>
      </main>
    </div>
  </body>
{% endblock %}
