{% extends 'base.html' %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
  <body class="bg-dark">
    <div class="cover-container d-flex w-50 h-50 p-3 mx-auto text-center flex-column text-white bg-dark">
      <main class="px-3" content-box>
        <h1>chat-da &lt;찾다!&gt;</h1>
        <p class="lead">우리는 모든가능성을 열어놓고 안되는걸 되게하는 방법을 “찾는” IT 전문가입니다. 안되는걸 되게하라! 사실 사람들이 안된다고 생각하고 포기하는걸 해내는 사람들이 역사적으로 이 세상을 바꿔나갔습니다. 오늘도 우리는 안되는걸 되게하는 방법을 찾는 회사 “찾다” 입니다</p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
        </p>
      </main>
    </div>
  </body>
{% endblock %}
