{% extends 'base.html' %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<div class="cover-container d-flex w-100 h-100 px-3 py-5 mx-auto text-center flex-column text-white bg-dark">
  <main class="px-3 py-5 content-box">
    <h1 class="py-3">Everystore Tools</h1>
    <p class="lead py-3 fs-5" style="white-space: normal; overflow: visible;">
      모두를 위한 스토어 툴, 모든 공개 툴은 무료로 제공합니다.&nbsp;<br>
      스마트 스토어를 운영하는 모든 분께 도움이 되고자 합니다.&nbsp;<br>
      그리고 간단하게 회원 가입 후 필요한 도구를 요청할 수 있습니다.
    </p>
  </main>
</div>


{% endblock %}
