{% extends 'base.html' %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<div class="container px-4 py-5" id="icon-grid">
    <h2 class="pb-2 border-bottom">요즘 스토어</h2>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
      <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#bootstrap"></use></svg>
        <div>
          <h4 class="fw-bold mb-0">르미넌트</h4>
          <p>123</p>
          <button class="btn btn-outline-light" type="button">button</button>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#cpu-fill"></use></svg>
        <div>
          <h4 class="fw-bold mb-0">Luminant</h4>
          <p>456</p>
          <button class="btn btn-outline-light" type="button">button</button>
        </div>
      </div>
    </div>
  </div>



{% endblock %}
