/* 기본적으로 모바일 화면에서는 col-12에 의해 100% 너비를 차지합니다. */
.inputbox-col {
    margin: 0 auto; /* 중앙 정렬 */
}

/* 미디어 쿼리를 사용하여 특정 화면 너비 이상에서 고정된 너비를 적용 */
@media (min-width: 768px) { /* 768px 이상의 화면 크기에서 적용됩니다. */
    .inputbox-col {
        max-width: 200px; /* 이 너비를 자유롭게 조정하여 원하는 크기 설정 */
    }
}


.clickable-div {
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.clickable-div:hover {
    background-color: #495057; /* 원하는 색상으로 변경 */
    box-shadow: 0 4px 8px rgba(211, 206, 206, 0.2);
}