/* 메인 메뉴 드롭다운 */
.custom-dropdown-item:focus {
    background-color: transparent !important; /* 클릭 시 파란색 배경 제거 */
}

.custom-dropdown-toggle::after {
    display: none; /* 역삼각형 아이콘 숨기기 */
}

.custom-nav-item.dropdown:hover .custom-dropdown-menu {
    display: block; /* 마우스 오버 시 드롭다운 메뉴 표시 */
}

h1 {
    font-size: 1.75rem; /* 원하는 크기로 조절 */
}

.store-card {
    background-size: cover; /* 이미지가 박스를 꽉 채우도록 설정 */
    background-position: center; /* 이미지를 박스 중앙에 위치 */
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    background-color: #f8f9fa;
    width: 100%;
    height: 100%; /* 높이를 박스와 동일하게 설정 */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* 내용을 상하 정렬 */
}

.store-button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
}

.store-icon {
    width: 1.75em;
    height: 1.75em;
}

/* 네이버 스토어 관련 디자인 */

.btn-naver {
    color: #00ff88; /* Bootstrap의 success 색상 */
    border: 1px solid #00ff88;
    background-color: transparent;
}

.btn-naver:hover {
    background-color: #00ff88; /* 마우스를 올렸을 때의 배경 색상 */
    color: white; /* 마우스를 올렸을 때의 텍스트 색상 */
}

.li-click-item {
    cursor: pointer;
    transition: color 0.3s ease; /* 글자색 변화 애니메이션 */
}
.li-click-item:hover {
    color: #007bff; /* 원하는 글자색으로 변경 */
}

.tool-form-label {
    font-size: 1.25rem;
}