{% extends 'base.html' %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="container px-4 py-5 text-white" id="icon-grid">
    <h2 class="pb-2 border-bottom">Tool 요청</h2>
    <div class="text-end">
        <a href="{{ url_for('main.add_content')}}" class="btn btn-secondary my-2">요청 글쓰기</a>
    </div>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>요청내용</th>
                <th>글쓴사람</th>
                <th>스토어이름</th>
                <th>추천수</th>
            </tr>
        </thead>
        <tbody style="color: white;">
            {% for content in contents %}
            <tr>
                <td>{{ content.title }}</td>
                <td>{{ content.author }}</td>
                <td>{{ content.genre }}</td>
                <td>
                    <a href="{{ url_for('main.edit_content', id=content.id) }}" class="btn btn-outline-primary btn-sm" style="margin-right: 10px;">Edit</a>
                    <form action="{{ url_for('main.delete_content', id=content.id) }}" method="POST" style="display:inline;">
                        <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
