{% extends 'base.html' %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="container px-4 py-5 text-white" id="icon-grid">
    <h2 class="pb-2 border-bottom">네이버 스토어 제품 리스트</h2>
</div>

<div class="container">
    <!-- Form action updated to submit to the searching route, method set to POST -->
    <form action="{{ url_for('tool.list_product') }}" method="POST" class="text-white">

        <div class="mb-3 col-6 pb-3">
            <label for="storeNameInput" class="form-label pb-1 fs-5">스토어 이름</label>
            <input type="text" class="form-control" id="storeNameInput" name="store_name" required>
        </div>

        <div class="mb-3 col-6">
            <label for="searchSort" class="form-label pb-1 fs-5">검색기준</label>
            <div class="form-check">
                <input id="ranking" name="search_sort" type="radio" class="form-check-input" value="sim" checked required>
                <label class="form-check-label" for="ranking">정확도순</label>
            </div>
            <div class="form-check">
                <input id="reviews" name="search_sort" type="radio" class="form-check-input" value="date" required>
                <label class="form-check-label" for="reviews">날짜순</label>
            </div>
            <div class="form-check">
                <input id="quality" name="search_sort" type="radio" class="form-check-input" value="asc" required>
                <label class="form-check-label" for="quality">가격 높은순</label>
            </div>
            <div class="form-check">
                <input id="quality" name="search_sort" type="radio" class="form-check-input" value="dsc" required>
                <label class="form-check-label" for="quality">가격 낮은순</label>
            </div>
        </div>
        <button type="submit" class="btn btn-secondary">제품 리스트 확인</button>
    </form>


    <!-- 결과 표시 영역 -->
    {% if search_initiated %}
        {% if results %}
            <ul class="list-group">
                <li class="list-group-item">{{ results }}</li>
            </ul>
        {% else %}
            <p>검색 결과가 없습니다.</p>
        {% endif %}
    {% endif %}

</div>
{% endblock %}
