{% extends 'base.html' %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<div class="container px-4 py-5" id="icon-grid">
    <h2 class="pb-2 border-bottom">스토어 제품 랭킹 검색</h2>
</div>

<div class="container">
    <form>
        <div class="mb-3 col-6">
            <label for="searchInput" class="form-label">키워드</label>
            <input type="text" class="form-control" id="searchInput">
        </div>

        <div class="mb-3 col-6">
            <label for="searchInput" class="form-label">스토어이름</label>
            <input type="text" class="form-control" id="searchInput">
        </div>

        <div class="mb-3 col-6">
            <label for="searchInput" class="form-label">검색기준</label>
            <div class="form-check">
                <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked="" required="">
                <label class="form-check-label" for="credit">네이버 랭킹순</label>
            </div>
            <div class="form-check">
                <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required="">
                <label class="form-check-label" for="debit">리뷰 많은순</label>
            </div>
            <div class="form-check">
                <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required="">
                <label class="form-check-label" for="paypal">리뷰 좋은순</label>
            </div>
        </div>
        <button type="submit" class="btn btn-secondary">Submit</button>
    </form>

</div>

{% endblock %}
