{% extends 'base.html' %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="container px-4 py-5" id="icon-grid">
    <h2 class="pb-2 border-bottom">스토어 제품 랭킹 검색</h2>
</div>

<div class="container">
    <!-- Form action updated to submit to the searching route, method set to POST -->
    <form action="{{ url_for('tool.search_ranking_product') }}" method="POST">
        <div class="mb-3 col-6">
            <label for="keywordInput" class="form-label">키워드</label>
            <input type="text" class="form-control" id="keywordInput" name="search_query" required>
        </div>

        <div class="mb-3 col-6">
            <label for="storeNameInput" class="form-label">스토어이름</label>
            <input type="text" class="form-control" id="storeNameInput" name="store_name" required>
        </div>

        <div class="mb-3 col-6">
            <label for="searchSort" class="form-label">검색기준</label>
            <div class="form-check">
                <input id="ranking" name="search_sort" type="radio" class="form-check-input" value="ranking" checked required>
                <label class="form-check-label" for="ranking">네이버 랭킹순</label>
            </div>
            <div class="form-check">
                <input id="reviews" name="search_sort" type="radio" class="form-check-input" value="reviews" required>
                <label class="form-check-label" for="reviews">리뷰 많은순</label>
            </div>
            <div class="form-check">
                <input id="quality" name="search_sort" type="radio" class="form-check-input" value="quality" required>
                <label class="form-check-label" for="quality">리뷰 좋은순</label>
            </div>
        </div>
        <button type="submit" class="btn btn-secondary">확인</button>
    </form>


    <!-- 결과 표시 영역 -->
    {% if search_initiated %}
        <h3>검색 결과</h3>
        {% if results %}
            <ul class="list-group">
                {% for result in results %}
                    <li class="list-group-item">{{ result.title }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>검색 결과가 없습니다.</p>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
