<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Everystore Tools</title>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% endblock %}
</head>
<body>
    <nav>
        <a href="{{ url_for('tool') }}">Tool</a>
        <a href="{{ url_for('store') }}">yo!zoom 스토어</a>
        <a href="{{ url_for('index') }}">Tool 요청</a>
    </nav>

    <div class="wrapper">
        <div class="sidebar">
            <h3>사이드바 메뉴</h3>
            <ul>
                <a href="{{ url_for('tool') }}">Tool</a>
                <a href="{{ url_for('store') }}">yo!zoom 스토어</a>
                <a href="{{ url_for('index') }}">Tool 요청</a>
            </ul>
        </div>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <footer>
        <p>2024 ©찾다 All rights reserved</p>
        <p><a href="mailto:contact@chat-da.com">contact@chat-da.com</a></p>
    </footer>
</body>
</html>


