{% extends 'base.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="sidebar">
        <h2>메뉴</h2>
        <ul>
            <li><a href="{{ url_for('index') }}">홈</a></li>
            <li><a href="{{ url_for('rankings') }}">순위 페이지</a></li>
            <li><a href="{{ url_for('about') }}">소개</a></li>
        </ul>
    </div>
    <div class="main-content">
        {% block main_content %}
        <!-- 메인 콘텐츠의 내용은 여기에 들어갑니다. -->
        {% endblock %}
    </div>
</div>
{% endblock %}
