{% extends 'base.html' %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<div class="container px-4 py-5" id="icon-grid">
    <h2 class="pb-2 border-bottom">Store Tool</h2>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
      <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#bootstrap"></use></svg>
        <div>
          <h4 class="fw-bold mb-0">스토어 랭킹 검색</h4>
          <p>스토어에 판매되고 있는 제품의 랭킹을 검색합니다.</p>
          <button class="btn btn-outline-light" type="button">button</button>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#cpu-fill"></use></svg>
        <div>
          <h4 class="fw-bold mb-0">제품별 인기 키워드 검색</h4>
          <p>제품별 상위 노출되는 키워드를 알려줍니다.</p>
          <button class="btn btn-outline-light" type="button">button</button>
        </div>
      </div>
    </div>
  </div>

  <div class="h-100 p-5 text-white bg-dark rounded-3">
    <h2>스토어 랭킹 검색</h2>
    <p>스토어에 판매되고 있는 제품의 랭킹을 검색합니다.</p>
    <button class="btn btn-outline-light" type="button">button</button>
  </div>

  <div class="h-100 p-5 text-white bg-dark rounded-3">
    <h2>제품별 인기 키워드 검색</h2>
    <p>제품별 상위 노출되는 키워드를 알려줍니다.</p>
    <button class="btn btn-outline-light" type="button">button</button>
  </div>

{% endblock %}
